<div class="row">
      <div class="col-md-1">
        <%= message.timestamp %>
      </div>
      <hr>
      <div class="col-md-11">
        <p class="card-text">
          <strong> <%= message.user.name %> </strong><br>
          <%= message.body %>
        </p>
      </div>
    </div>
