

<div class="media">
  <div class="media-left">
    <!-- <a href="#">
      <img class="media-object" src="..." alt="Generic placeholder image">
    </a> -->
    <%= image_tag comment.user.image.url(:tiny) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.email %></h4>
    <p><%= comment.body %></p>
  </div>
  <% if user_signed_in? and comment.user_id == current_user.id %>
	<li>
	  <%= link_to 'Delete Comment', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	</li>
<% end %>
</div>
