<h1> About Us </h1>

<h4>
  We welcome You to Tefecho.com , we are a small and upcoming Media/News Company.<br>
  <br>
  our aim is to provide you with the latest news and actualities regardless of the topic .<br>
  <br>
  From culture to Technology to Sport , We are here to cover it all for You .
  <hr>
  We also introduce the <b><i>"Did You Know ?"</i></b> section , which is a day-to-day information
  about infos that might be ignored by most the world .<br>
  <br>
  We hope , you have a great experience while visiting us .<br>
  <br>
  So don't forget to leave us a feedback <i><u><%= link_to 'here', contact_path %></u></i> and recommend it to your friends .


</h4>
