// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

html {
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  width: 100%;
  margin-bottom: 0;
}

.navbar li {
  border-bottom: 3px solid #f2f2f2;
}

.navbar li:hover{
  border-bottom: 3px solid #70be44;
}

h1, h2, h3, h4, h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.navbar-brand > img {
  height: 90px;
}

.navbar-toggle .icon-bar{
  background-color: #70be44;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.profile{
  background-image: url("../images/missing.png");
  border: 1px solid #70be44;
}

.profile > img {
  width: 50px;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: inherit;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.did_you_know{
  text-align: center;
  padding: 7px;
  border: 1px solid #8bc43f;
  border-radius: 2px;
}

.most_viewed{
  background-color: inherit;
  width: 100%;
}

.most_viewed li{
  display: block;
  padding: 7px;
  text-decoration: none;
  border: 1px solid #8bc43f;
  border-radius: 2px;
}

.most_viewed li:hover{
  background-color: #f2f2f2;
}

.categories{
  background-color:inherit;
  width: 100%;
}

.categories li{
  display: block;
  padding: 7px;
  // font-size: 15px;
  text-decoration: none;
  border: 0.5px solid #8bc43f;
  border-radius: 2px;
}

.categories li:hover{
  background-color: #f2f2f2;
}

.alert{
  margin-bottom: 0;
}

.wrapper{
  padding: 10px;
}

.img{
  width: inherit;
}

.img > img {
  width: 100%;
}

.item{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-inner > .item > img {
  width: 100%;
}

.carousel-caption{
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 3px;

}

.carousel-caption h1{
  color: inherit;
}

/* Mobile */
@media (max-width: 765px) {
    .myContainer{
      width: 100%;
    }
    .carousel-inner{
      max-height: 100px;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 766px) {
    .carousel-inner{
      max-height: 350px;
    }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
    .myContainer{
      width: 95%;
      margin: 0 auto;
    }
    .navbar{
      // padding: 25px;
      // border-radius: 0;
      // color: #534949;
      font-size: 15px;
    }
    .carousel-inner{
      max-height: 350px;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .myContainer{
      width: 90%;
      margin: 0 auto;
    }
    .navbar{
      // padding: 25px;
      // border-radius: 0;
      // color: #534949;
      font-size: 20px;
    }
    .carousel-inner{
      max-height: 350px;
    }
}

.thumbnail img {
    width: 100%;
}

textarea{
  resize: none;
}

.footer{
  background-color: #8bc43f;
  bottom: 0 ;
}

.stats li{
  display: inline-block;
  text-decoration: none;
  padding: 3px;
}

.fa{
  color: #70be44;
}
