// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

html {
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: 0;
}

.navbar{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: inherit;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.menu_1{
  background-color: #b3b3b3;
  width: 100%;
}

.menu_1 li{
  display: inline-block;
  padding: 10px;
  font-size: 15px;
}

.menu_1 li:hover{
  background-color: #d9d9d9;
}

.alert{
  margin-bottom: 0;
}

.wrapper{
  padding: 10px;
}

.Ads{
  margin: 20px;
  padding:10px;
  border: 1px solid #f2f2f2;
}

.item{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-caption{
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 3px;

}

.carousel-caption h1{
  color: inherit;
}

.carousel-inner{

}

/* Mobile */
@media (max-width: 765px) {
    .carousel{

    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 766px) {
    .carousel{

    }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {

    .navbar{
      padding: 25px;
      border-radius: 0;
      color: #534949;
      font-size: 20px;
    }
    .carousel{
      max-height: 350px;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .navbar{
      padding: 25px;
      border-radius: 0;
      color: #534949;
      font-size: 20px;
    }
    .carousel{
      max-height: 350px;
    }
}

.thumbnail img {
    width: 100%;
}

textarea{
  resize: none;
}
